---
layout: default
---
<div class="post">
  {% if page.image %}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
      </div>
  {% endif %}
  <h1 class="postTitle">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>


  {{ content }}


  <!-- POST NAVIGATION -->
  <div class="postNav clearfix">
    {% if page.previous_in_language.url %}
      <a class="prev{% if page.previous_in_language.image %} image{% endif %}" href="{{ page.previous_in_language.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ page.previous_in_language.title }}</span>
      {% if page.previous_in_language.image %}
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.previous_in_language.image }}" alt="">
      {% endif %}
    </a>
    {% endif %}
    {% if page.next_in_language.url %}
      <a class="next{% if page.next_in_language.image %} image{% endif %}" href="{{ page.next_in_language.url | prepend: site.baseurl }}"><span>{{ page.next_in_language.title }}&nbsp;&raquo;</span>
      {% if page.next_in_language.image %}
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.next_in_language.image }}" alt="">
      {% endif %}
      </a>
    {% endif %}
  </div>
  {% include comment.html %}
  {% if page.language == 'en' %}
  <script>var sharebutton_is_horizontal = false; document.write('<script src="//cdn.script.to/share2.js"></scr' + 'ipt>'); document.write("<div style='display: none'>");</script><a href="http://sharebutton.org/">social sharing buttons</a><script>document.write("</div>");</script>
  {% endif %}
</div>
